proxy_cache_path /var/cache/nginx keys_zone=cache:10m inactive=60m;

server {

    listen 80;
    server_name *.vtuner.com;

    access_log /var/log/ycast/access.log;

    location / {
        proxy_pass http://127.0.0.1:8001;
        proxy_set_header 'Host' '$host';
        proxy_buffering on;
        proxy_http_version 1.1;
    }

}

upstream radiobrowser {
    server all.api.radio-browser.info;
    keepalive 6;
}

server {

    listen 127.0.0.1:8002;

    access_log /var/log/ycast/radiobrowser.log;

    location / {
        proxy_pass http://radiobrowser;
        proxy_set_header 'Host' 'all.api.radio-browser.info';
        proxy_set_header 'Connection' '';
        proxy_buffering on;
        proxy_cache cache;
        proxy_cache_valid 200 10m;
        proxy_http_version 1.1;
    }

}
